@import "../colors.scss";

.home-greeting-header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 15px;
  background-color: $cc_light_green;
  border-bottom: 6px solid $cc_blue_fade;

  @media screen and (min-width: 769px) {
    display: flex;
    justify-content: space-evenly;
  }

  .profile-photo {
    text-align: center;
    img {
      border-radius: 100%;
      width: 20em;

      @media screen and (max-width: 991px) {
        width: 13em;
      }

      @media screen and (max-width: 768px) {
        // width: 15em;
        // margin-bottom: 15px;
        display: none;
      }
    }
  }

  .greeting-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 768px) {
      max-width: 400px;
    }
  }
}
