@import "../colors.scss";

.page-header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png"), linear-gradient(to right, white, white, $cc_dark_purple);
  border-bottom: 6px solid $cc_dark_purple;

  h1,
  h2 {
    border: none !important;
    line-height: 1 !important;
    margin: 0;
    padding: 0;
  }

  h2 {
    margin-top: 0.25em;
    font-size: 1.25rem;
    color: $cc_dark_blue;
  }
}
