$cc_purple: #af99c7;
$cc_red: #c7a799;
$cc_redder: #d99387;
$cc_dark_redder: #9e6b62;
$cc_blue: #a3b8c7;
$cc_blue_fade: #a3b8c77c;
$cc_light_blue: #adc7c4;
$cc_lighter_blue: #c0e5eb;
$cc_light_green: #b8d4d0;
$cc_dark_blue: #2e4b61;
$cc_dark_purple: #776887;
$cc_text_blue: #293136;
