{% extends "base.html" %}

{% block head %}
{{ super() }}

{# We are using some custom styles for the homepage, so they must be loaded here #}
<link rel="stylesheet" href="/styles/by-section/home.css">
{% endblock head %}


{% block content %}

<div class="home-greeting-header">
  <div class="profile-photo">
    <img src="{{config.extra.profile_photo}}" alt="Image of {{config.extra.author}}" loading="lazy">
  </div>
  <div class="greeting-content">
    {{section.content | safe}}
  </div>
</div>



{% endblock content %}